@mixin font($size, $height, $weight, $spacing) {
   font-size: $size;
   line-height: $height;
   font-weight: $weight;
   letter-spacing: $spacing;
}

@mixin animated($property) {
   transition-property: $property;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
